.PlayerList {
	display: flex;
	height: 10vh;
	flex-flow: wrap;
	justify-content: space-between;
	margin: 0px 0px 30px 0px;
	margin-left: auto;
	margin-right: auto;
}

.Player {
	margin: 5px;
	border-radius: 10px;
	border: solid 2px;
	padding: 2px 5px;
}

.titleTable {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 10px;
}

.titleTable button {
	margin: 0px 5px;
}

.titleTable * {
	margin-left: auto;
	margin-right: auto;
}
